@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gambarino-Regular";
  src: url("/fonts/Gambarino-Regular.woff2") format("woff2"),
    url("/fonts/Gambarino-Regular.woff") format("woff"),
    url("/fonts/Gambarino-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer-Regular';
  src: url('/fonts/Switzer-Regular.woff2') format('woff2'),
       url('/fonts/Switzer-Regular.woff') format('woff'),
       url('/fonts/Switzer-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

.gambarino {
  font-family: "Gambarino-Regular", Helvetica, sans-serif;
}

:root {
  --background: #fffcf7;
  --foreground: #161413;
  --component: #635045;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161413;
    --foreground: #fffcf7;
    --component: #c2b4a6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.underline-fade {
  position: relative;
  display: inline-block;
}

.underline-fade::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.underline-fade:hover::after {
  opacity: 1;
}

