@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffcf7;
  --foreground: #161413;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161413;
    --foreground: #fffcf7;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
